.button {
  font-size: 1.5rem;
  padding: 0.875rem 1.5rem;
  border: 0;
  border-radius: 0.5rem;
  background-color: var(--blue);
  min-width: 140px;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
  }
}