.pagination-bar {
  display: inline-flex;
  align-items: center;
  margin-left: 50%;
  transform: translateX(-50%);
  position: fixed;
  bottom: 2rem;
  background-color: #d5dadf;
  border-radius: 1rem;
  padding: 2rem 6rem;

  &__page-number {
    padding: 0 2rem;
  }
  & .button {
    color: #d5dadf;
  }
}