.circle-character-status {
  display: inline-block;
  height: 0.875rem;
  width: 0.875rem;
  border-radius: 50%;
  margin-right: .5rem;
}

.card {
  border: 2px solid var(--white);
  border-radius: .5rem;

  &__image-character {
    display: flex;

    &__info {
      padding: 1rem 2rem;
      position: relative;

      &__name {
        max-width: calc(100% - 44px - 32px);
      }
      &__icon {
        cursor: pointer;
        border-radius: 50%;
        padding: .5rem;
        border: 1px solid black;
        position: absolute;
        right: 0rem;
        top: 0;
      }
    }
  }
  &__content {
    padding: 1rem;

    &__status-type {
      margin-top: .5rem;
      display: flex;
      align-items: center;
  
      &--alive {
        @extend .circle-character-status;
        background-color: var(--green);
      }
      &--unknown {
        @extend .circle-character-status;
        background-color: var(--yellow);
      }
      &--dead {
        @extend .circle-character-status;
        background-color: var(--red);
      }
    }
  }
  &__more-info {
    display: flex;
    padding: 2rem;

    &__episodes {
      margin-left: 2rem;

      &__list {
        margin-left: 1rem;
        margin-top: 0.5rem;
      }
    }
  }
}